.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
body {
  background: url("https://user-images.githubusercontent.com/33194929/43773657-57fd223e-9a3e-11e8-91e7-5ec42287edfb.png")
    no-repeat center center fixed;

  /* Center and scale the image nicely */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 800px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

form {
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 10px;
}
